
* {
    box-sizing: border-box;
}

#page-list, #page-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

#page-details {
    display: none;
}

.session-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.session-column {
    flex: 1;
    background: #a5a5a7;
    color: white; 
    padding: 12px;
    border-radius: 8px;
    min-height: 150px;
    font-size: 12px;
    text-align: left;
  
}

.session-column li {
    padding: 10px;
    margin-bottom: 5px;
    background: white;
    color: #a5a5a7; 
    border-radius: 4px;
    cursor: pointer;
    align-items: start;
}

.session-column ul {
    list-style: none; 
    padding: 0;       
    margin: 0;       
    width: 100%;      
    text-align: left; 
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.lecture-item {
    border: 1px solid #686a6b;   
    border-radius: 10px;        
    display: flex;
    margin: 5px 0;        
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.lecture-item span {
    cursor: pointer;
    color: #8a8d8f;
    font-weight: bold;
}

.btn-one {
    width: 100%;
    padding: 20px;
    background-color: #67b4c8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.btn-two {
    width: 100%;
    padding: 10px;
    background-color: #67b4c8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

<<<<<<< HEAD
.btn-three {
    width: 30%;
    padding: 10px;
    background-color: #67b4c8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-left: 250px;
    margin-top: 20px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.popup-content {
  background: white;
  width: 420px;
  padding: 25px;
  margin: 15% auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.form {
  width: 100%;   
  max-width: 360px;
  margin-right: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

label {
  width: 120px;  
  text-align: right;
  padding-right: 10px;
}

input {
  flex: 1;          /* alle Inputs gleich breit */
  padding: 6px;
  box-sizing: border-box;
}
=======
.session-column button {
    width: 100%;
    margin-top: 15px;
}
>>>>>>> c5ebf358e5bd2f730611d765d592c1550c706100
