/*
student.css
This stylesheet is implemented in the student.html

Author: Justin
*/

/* Overlay background */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 100;
  pointer-events: none;
  background: transparent; /
}

/* Overlay itself */
.overlay-content {
  position: absolute;
  left: 2vw;
  right: 2vw;
  top: 2vh;
  bottom: 90px;

  background: white;
  border-radius: 16px;
  padding: 2rem;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  pointer-events: auto;
}

/* Selection arrow of icon */
.overlay-content::after {
  content: "";
  position: absolute;
  bottom: -18px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 18px solid white;
  left: var(--arrow-x, 50%);
  transform: translateX(-50%);
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Bottom Bar */
.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: 0 -3px 10px rgba(0,0,0,0.25);
  z-index: 50;
}

.bottom-bar button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-bar img {
  width: 42px;
  height: 42px;
}

.bottom-bar span {
  font-size: 0.75rem;
  margin-top: 0.2rem;
}


/* CSS for Quiz overlay */
h2 {
  text-align: center;
}

.quiz-question {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.quiz-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.quiz-btn {
  padding: 2rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

.fast-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.fast-btn {
  padding: 2rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}

/* Kahoot-Colors */
.btn-red {
  background: #e21b3c;
}

.btn-blue {
  background: #1368ce;
}

.btn-yellow {
  background: #ffa602;
}

.btn-green {
  background: #26890c;
}
